.material-icons {
  font-size: 1em;
}

.pre {
  white-space: pre;
}

.col-separator {
  width: 5px;
  background: #00000030;
  z-index: 5;
  cursor: col-resize;
}

.CodeMirror {
  flex-grow: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.content {
  height: 100vh;

  > * {
    overflow-y: auto;
    min-height: 100vh;
    position: relative;
  }
}

.panel {
  background: #FF5722;
  color: #fff;

  &-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.2em 0;
  }

  .material-icons {
    padding: 5px 0;
  }

  .btn {
    color: #fff;
    text-align: left;
    border-radius: 0;
    outline: none;
    box-shadow: none;

    .badge {
      top: -5px;
      left: 5px;
      margin-right: 10px;
    }
  }


  .btn:hover, .btn.active {
    background: #BF360C;
  }

}

#decoders {
  max-width: 50%;
  flex: 0 0 auto;

  .btn .material-icons {
    opacity: 0;
    transition-duration: 0.2s;
    border-radius: 50%;
    width: 26px;
    text-align: center;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
  .btn:hover .material-icons {
    opacity: 1;
  }

  form {
    padding: .375rem .75rem;

    #add-decoder-name, #add-decoder-type {
      border: none;
      background: none;
      color: #fff;
      outline: none;
    }

    #add-decoder-name::placeholder {
      color: #fff;
    }

    #add-decoder-type {
      border: solid 1px #FF5722;
      opacity: 0;
      transition-duration: 0.2s;

      option {
        color: #000;
      }
    }

    &.focused {
      background: #BF360C;
    }

    #add-decoder-type {
      opacity: 1;
    }
  }

  #current-decoder-title {
    font-weight: bold;
    font-size: 1.2em;
    border-top: solid 1px #fff;
    padding-top: 8px;
  }
}

#editor {
  #compile-status {
    position: absolute;
    right: 25px;
    top: 0;
    z-index: 100;

    > * {
      display: none;
      border: solid 1px #000;
      border-radius: 0 0 4px 4px;
      border-top: none;
      padding: 2px 8px;
    }

    &.compiling #compiling {
      display: block;
      background: #FFECB3;
      border-color: #FFD54F;
      color: #b88a00;
    }

    &.failed #compile-fail {
      display: block;
      border-color: #EF9A9A;
      background: #FFCDD2;
      color: #B71C1C;
    }
  }
}

#test {
  flex: 0 0 auto;
  min-width: 300px;
  max-width: 50%;

  textarea {
    flex: 0 0 auto;
    height: 2em;
    min-height: 2em;
    flex-grow: 1;
  }

  #result-format{
    width: 100%;
    background: #F4511E;
    border: navajowhite;
    padding: 8px;
    color: #fff;
    outline: none;
    box-shadow: none;
  }

  table {
    background: #fff;
    color: #000;
    width: 100%;

    tr:nth-child(odd) {
      background: #EEEEEE;
    }

    td {
      padding: 5px;
    }
  }

  .simple-result {
    padding: 10px;
  }

  #simple-value-result, .result-header {
    background: #fff;
    color: #333;
    padding: 10px;
    border-radius: 0 3px 3px 3px;
    overflow: auto;
  }

  .result-header {
    border-radius: 3px 3px 0 0;
    padding: 3px 10px;
    display: inline-block;
    margin-bottom: -6px;
  }

  #simple-value-result.value-error, .row-error {
    background: #EF9A9A !important;
    border: solid 1px #C62828 !important;
  }
}

.multi-result {
  padding: 10px;
}

.current-ts #download-ts::before {
  content: "Download source (ts)";
}

.current-ts #download-js::before {
  content: "Download decoder (js)";
}

.current-ts.compiling #download-js {
  opacity: 0.5;
  cursor: not-allowed;
  &::before {
    content: "Compilling ...";
  }
}
.current-ts.failed #download-js {
  opacity: 0.5;
  cursor: not-allowed;
  &::before {
    content: "Compilation Fail!";
  }
}

.current-js #download-ts {
  display: none;
}

.current-js #download-js::before {
  content: "Download source/decoder (js)";
}


#compiled-content {
  display: none;

  .CodeMirror {
    background: #eeeeee;
  }

}

.current-ts.show-compile #compiled-content {
  display: flex;
}

.current-ts.show-compile #editor-content {
  display: none;
}

.current-js #editor-tabs {
  display: none;
}
